<!DOCTYPE html>
<html lang="en">
  <head>
    <link type="text/css" rel="stylesheet" href="style.css"/>
  </head>
  <body>
    <div class="container">
  <p>Soy un hijo directo</p>
  <p>Soy un hijo directo</p>
  <p>Soy un hijo directo</p>
  <p>Soy un hijo directo</p>
  <p>Soy un hijo directo</p>
  <p>Soy un hijo directo</p>
  <p>Soy un hijo directo</p>
  <p>Soy un hijo directo</p>
  <p>Soy un hijo directo</p>
  <p>Soy un hijo directo</p>
  <div>
    <p>Soy un hijo indirecto o ñeto</p>
    <p>Soy un hijo indirecto o ñeto</p>
    <p>Soy un hijo indirecto o ñeto</p>
    <p>Soy un hijo indirecto o ñeto</p>
    <p>Soy un hijo indirecto o ñeto</p>
  </div>
</div>

    <script type="module" src="script.js"></script>
  </body>
</html>