<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <article class="article-1">MI BLOG</article>
        <article class="article-2">
            <p>Other themes</p>
        <button class="Btn-git">GitHub</button>
    </article>

            <article class="article-4">
        <h1>A simple blog built wiht
            Astro and Tailwind CSS 
        </h1>
    </header>
        <nav>
            <a>HTML</a>
            <a>TALWIND</a>
            <a>FRAMEWORKS</a>
            <a>DEVELOPMENT</a>
            <a>ANIMATION</a>
            <a>SVG</a>
            <a>CDN</a>
            <a>ARIA</a>
        </nav>
            </article>
    

    <main>
        <section class="section-1">
        <article class="card-1">
             <img src="/assets/images/la monja.jpeg" alt="">
            <h5>Henry Thompson - Sat Jan 06</h5>
            <h2>Helping your website get
                gogly-eyed</h2>
            <h4>Make Google do a double-take with Tailwind CSS's SEO magic. It's like giving your website</h4>
            <h4>Animation CDN</h4>
        </article>

        <article class="card-2">
            <img src="/assets/images/anabelle.jpeg" alt="">
            <h5>Isabella Garcia - Fri jan 05</h5>
            <h2>Because writing vanilla JS is so
                last season</h2>
            <h4>Tired of vanilla JS? Spice our your coding life with astro,js. It's the haute couture of</h4>
            <h4>CDN ARIA</h4>
        </article>

        <article class="card-3">
            <img src="/assets/images/chuki.jpeg" alt="">
            <h5>Akira Nakamura - Tu jan 04</h5>
            <h2>Talwind CSS and astro.js the dynamic duo of web development</h2>
            <h4>Join forces with the dinamic duo of web development - Talwind CSS and astro.js</h4>
            <h4>Animation SVG</h4>
        </article>
    </section>

    <section class="section-2">
        <article class="card-4">
            <img src="/assets/images/freddy.jpeg" alt="">
            <h5>Giovanni Ruso - Wed Jan 03</h5>
            <h2>Making static sites less static, more fantastic</h2>
            <h4>Say goodbye to static boredom with astro.js. 
            This Framework brings life to static sites</h4>
            <h4>Development Tailwind</h4>
        </article>

        <article class="card-5">
            <img src="/assets/images/it.jpeg" alt="">
            <h5>Charlotte Parker - Tue Jan 02</h5>
            <h2>Where utility-firts meets fashion-firts</h2>
            <h4>Unleash your inner fashionista as we explore Tailwind CSS - the runway - ready Framework</h4>
            <h4>Frameworks Development</h4>
        </article>

        <article class="card-6">
            <img src="/assets/images/yeison.jpeg" alt="">
            <h5>Alejandro Martinez - Mon Jan 01</h5>
            <h2>Because the universe needed a framework</h2>
            <h4>Embark on a cosmic journey with astro.js, the framework that makes interstellar</h4>
            <h4>HTML Tailwind</h4>
        </article>
    </section>
    </main>

    <footer>
        <section class="footer">
            <h2 class="titulo">Join us to get our news in your inbox</h2>
            <input class="ingresar" type="Enter your email">
            <button class="Btn">Suscribe</button>
        </section>
    </footer>
          

</body>
</html>